@import '../_variables';
@import '../buttons';

#DIV_TCHAT_SWF {
    background-color: #A3DAFD;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    width: 950px;
    height: 560px
}

#DIV_TCHAT_FLASH {
    background-color: #FFFFFF;
    height: 560px
}
